<!doctype html>  
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Homepage</title>
</head>  
<body>   

    <h1>Main Homepage</h1>
    <ul>
        <li>
            <a href="http://localhost:3000/admin/signup">Organiser's Homepage</a>
           
        </li>
        <li>
             <a href="http://localhost:3000/attendee/signup">Attendee homepage</a>
        </li>
   </ul>
</body>   
</html> 